.crear {
  padding-top: 5rem;
} /* Para que las cards queden por debajo del MiniNavbar */

.titulo-crear,
.titulo-crear:focus {
  font-size: 4rem;
  background: transparent;
  border: transparent;
}

.descripcion-crear,
.descripcion-crear:focus {
  border: 2px solid #b14aed;
  border-radius: 5px;
  background: transparent;
  resize: none;
}

.crear-img {
  width: 100%; /* Permite que la imagen se ajuste al tamaño del contenedor */
  height: auto; /* Ajusta la altura automáticamente */
  max-width: 24.8rem;
  max-height: 13rem;
  min-width: 12.4rem;
  min-height: 6.5rem;
  background-color: black;
  object-fit: cover; /* Mantiene la proporción y rellena el contenedor */
  border-radius: 5px;
}

/* Pantallas pequeñas */
@media (max-width: 768px) {
  .crear article {
    flex-direction: column; /* Cambia la dirección a columna */
  }
}

.contenido-crear,
.contenido-crear:focus {
  background: none;
  border-style: none;
  resize: none;
}

input,
textarea {
  caret-color: #b14aed; /* Cambia el color del cursor */
  outline: none !important; /* Forzamos que no tenga outline */
  border: 2px solid transparent !important; /* Borde transparente al inicio */
  transition: border-color 0.3s ease-in-out !important; /* Transición suave */
  overflow: hidden; /* Oculta la barra de desplazamiento */
}

input:focus,
textarea:focus {
  border-color: #b14aed !important; /* Borde violeta al hacer focus */
  border-radius: 5px !important; /* Bordes redondeados */
  box-shadow: 0 0 5px rgba(128, 0, 255, 0.5) !important; /* Resplandor */
}

/* Para cambiar el color del placeholder */
input::placeholder {
  color: rgba(255, 255, 255, 0.4) !important; /* Cambia a tu color preferido */
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.4) !important; /* Cambia a tu color preferido */
}
