.fondo {
  background-image: url('/src/assets/Fondo.svg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Para pantallas grandes (desktop) */
@media (min-width: 769px) {
  .palabras {
    margin-top: 20vh;
    font-size: 10rem;
  }
}

/* Para pantallas medianas (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .palabras {
    margin-top: 25vh;
    font-size: 10rem;
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
  .palabras {
    margin-top: 35vh;
    font-size: 6rem;
  }
}

.neon {
  color: white; /* Asegúrate de que las letras sean claras */
  text-shadow:
    0 0 100px #fff,       /* Sombra cercana para un brillo suave */
    0 0 20px #fff,      /* Brillo medio */
    0 0 10px #fff,      /* Brillo más intenso */
    0 0 0px #ffffff,   /* Halo de neón más grande */
    0 0 0px #ffffff;   /* Expande aún más el efecto */
}
