body {
  font-family: 'heebo', sans-serif, Helvetica, Arial;
  background-color: black;
  color: white;
}

.Montserrat {
  font-family: 'Montserrat', sans-serif, Helvetica, Arial;
}

.iconos {
  font-size: 20px;
  color: white;
  margin-top: -3px;
}
