.navbar {
    background-color: transparent;/* Fondo transparente */
    position: fixed; /* Se queda fijo en la parte superior */
    top: 0; /* Asegura que está pegado al borde superior */
    left: 0; /* Se alinea al borde izquierdo */
    width: 100%; /* Ocupar todo el ancho de la pantalla */
    z-index: 1000; /* Para que esté por encima de otros elementos */
}

.logo {
    margin-top: -5px;
}

.nav-link, .nav-link.nav-link.active, .nav-link:focus {
    color: white;
}

.nav-link.nav-link.show, .nav-link:hover {
    color: #8D5BC1;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item {
    color: white;
}