.Sidebar {
    height: 100vh; /* Altura completa de la pantalla */
    background-color: black; /* Fondo negro (o lo que quieras) */
    border: 2px solid #b14aed;
    position: fixed; /* Se queda fijo */
    left: 0; /* Se alinea al borde izquierdo */
    width: 13rem; /* Ocupar todo el ancho de la pantalla */
    z-index: 1000; /* Para que esté por encima de otros elementos */
}

.Sidebar-texto {
    font-size: 2rem;
}

.Sidebar-iconos {
    font-size: 2.5rem;
    margin-right: 8px; /* Espacio entre el ícono y el texto */
    margin-bottom: 2rem;
    color: #b14aed;
}

.papelera {
    position: absolute;
    bottom: 0;
}
